*custom.el
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
auto-save-list/
auto-save-list/**
tramp
.\#*
emacs-desktop
*.lock
places
recentf
network-security.data

# Org-mode
.org-id-locations
*_archive

# flymake-mode
#*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
projectile-bookmarks.eld

# directory configuration
.dir-locals.el
.emacs.d
.emacs.*

# custom
*custom*
*custom.el
custom.*
/custom.el
custom.el
custom
**/custom.*
*/custom**.el
