*custom.el
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
auto-save-list/
auto-save-list/**
tramp
.\#*
emacs-desktop
*.lock
places
recentf
network-security.data

# projectiles files
projectile-bookmarks.eld

# directory configuration
.dir-locals.el
